[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"

[packages]
django = "*"
pillow = "*"
django-bootstrap4 = "*"
django-imagekit = "*"

[requires]
python_version = "3.8"
