<div class="card swiper-slide" style="width: 18rem; margin: 15px 20px">

    <!-- {% if post.image %}
      <img src="media/{{ post.image }}" class="card-img-top" alt="{{ post.image.file.image }}">
    {% endif %} -->

    <div class="card-body">
      <div class="card-text">
          <h3 style="height: 4rem; margin-bottom: 20px;">{{post.title}}</h3>
          <p style="height: 9rem; margin-bottom: 20px;">{{post.content }}</p>
      </div>
    </div>
    <div class="card-footer" style="width: 100%;">
        {% if user.is_authenticated and post.author.pk == user.pk %}
        <a href="{% url 'update' post.pk %}" class="btn btn-info">Update</a>
        <a href="{% url 'delete' post.pk %}" class="btn btn-primary">Delete</a>
        {% endif %}
    </div>
</div>

