{% block css %}
{% load static %}
<link rel="stylesheet" href="{% static '_vscode.css' %}" type='text/css'>
<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400&display=swap" rel="stylesheet">
<link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/SyntaxHighlighter/3.0.83/styles/shCoreDefault.min.css">
<script src="https://kit.fontawesome.com/4d17cd9c8d.js" crossorigin="anonymous"></script>

{% endblock %}
{% block container %}
        <div class="header">
            <div class="logo">
                <img src="logo.svg" alt="">
            </div>
            <ul class="header-menu">
                <li class="header-menu-link">File</li>
                <li class="header-menu-link">Edit</li>
                <li class="header-menu-link">Selection</li>
                <li class="header-menu-link">View</li>
                <li class="header-menu-link">Go</li>
                <li class="header-menu-link">Run</li>
                <li class="header-menu-link">Terminal</li>
                <li class="header-menu-link">Help</li>
            </ul>
            <div class="header-app-icons">
                <ul>
                    <li>
                        <i class="fa fa-window-minimize"></i>
                    </li>
                    <li>
                        <i class="fa fa-window-restore"></i>
                    </li>
                    <li>
                        <i class="fa fa-times"></i>
                    </li>
                </ul>
            </div>
            
        </div>
    
        <div class="side-header">
            <ul class="side-header-menu">
                <li class="active">
                    <i class="fa fa-copy"></i>
                </li>
                <li>
                    <i class="fa fa-search"></i>
                </li>
                <li>
                    <i class="fa fa-share-alt"></i>
                </li>
                <li>
                    <i class="fa fa-play"></i>
                </li>
                <li>
                    <i class="fa fa-th-large"></i>
                </li>
            </ul>
            <ul class="side-header-botton-menu">
                <li>
                    <i class="fa fa-user-circle"></i>
                </li>
                <li>
                    <i class="fa fa-cog"></i>
                </li>
            </ul>
        </div>
    
        <div class="bottom-header">
            <ul class="right">
                <li>
                    <i class="fa fa-times-circle"></i>
                </li>
                <li>
                    <i class="fa fa-exclamation-triangle"></i>
                </li>
            </ul>
            <ul class="left">
                <li>
                    Ln 24, Col 32
                </li>
                <li>
                    Spaces: 3
                </li>
                <li>
                    UTF-8
                </li>
                <li>
                    CRLF
                </li>
                <li>
                    HTML
                </li>
                <li>
                    <i class="fa fa-radiation-alt"></i> Port: 5050
                </li>
                <li>
                    <i class="fa fa-bell"></i>
                </li>
            </ul>
        </div>
    
        <div class="menu-option">
            <h5>EXPLORER</h5>
            <div class="menu-drop">
                <div class="box-click">
                    &nbsp;<i class="fa fa-chevron-down"></i> <span id="project-name">OPEN EDITORS</span>
                    <div class="show-pre">
                        <ul>
                            <li id="migrations">&nbsp;&nbsp;&nbsp;&nbsp;<i class="fab fa-html5"></i> <span id="file-name" style="padding: 10px;">_chatbot.html</span></li>
                            <li id="migrations">&nbsp;&nbsp;&nbsp;&nbsp;<i class="fab fa-css3-alt"></i> <span id="file-name">_chatbot.css</span></li>
                            <li id="migrations">&nbsp;&nbsp;&nbsp;&nbsp;<i class="fab fa-css3-alt"></i> <span id="file-name">_excel.css</span></li>
                        </ul>
                        <span id="project-name">&nbsp;&nbsp;&nbsp;&nbsp;GROUP 2</span>
                        <ul>
                            <li id="migrations">&nbsp;&nbsp;&nbsp;&nbsp;<i class="fab fa-html5"></i> <span id="file-name">_chatbot.html</span></li>
                            <li id="migrations">&nbsp;&nbsp;&nbsp;&nbsp;<i class="fab fa-css3-alt"></i> <span id="file-name">_chatbot.css</span></li>
                            <li id="migrations">&nbsp;&nbsp;&nbsp;&nbsp;<i class="fab fa-css3-alt"></i> <span id="file-name">_excel.css</span></li>
                        </ul>
                    </div>
                </div>
            </div>
            <hr>
            <div class="menu-drop">
                <div class="box-click">
                    <i class="fa fa-chevron-down"></i> <span id="project-name">OTHERWORKS</span>
                    
                    <div class="show-pre">
                        <ul>
                            <li id="app"><i class="fa fa-chevron-down"></i><i id="appicon" class="fas fa-folder-open"></i> <span id="file-name">app</span></li>
                            <li id="migrations">&nbsp;&nbsp;<i class="fa fa-chevron-down"></i><i class="fas fa-folder-open"></i> <span id="file-name">migrations</span></li>
                            <li id="migrations">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<i class="fab fa-python"></i> <span id="file-name">__init__.py</span></li>
                            <li id="migrations">&nbsp;&nbsp;<i class="fa fa-chevron-down"></i><i class="fas fa-folder-open"></i> <span id="file-name">static</span></li>
                            <li id="migrations">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<i class="fab fa-css3-alt"></i> <span id="file-name">_chatbot.css</span></li>
                            <li id="migrations">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<i class="fab fa-css3-alt"></i> <span id="file-name">_excel.css</span></li>
                            <li id="migrations">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<i class="fab fa-css3-alt"></i> <span id="file-name">_vscode.css</span></li>
                            <li id="migrations">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<i class="fab fa-css3-alt"></i> <span id="file-name">base.css</span></li>
                            <li id="migrations">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<i class="fab fa-css3-alt"></i> <span id="file-name">home.css</span></li>
                            <li id="migrations">&nbsp;&nbsp;<i class="fa fa-chevron-down"></i><i class="fas fa-folder-open"></i> <span id="file-name">templates</span></li>
                            <li id="migrations">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<i class="fab fa-html5"></i> <span id="file-name">_chatbot.html</span></li>
                            <li id="migrations">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<i class="fab fa-html5"></i> <span id="file-name">_excel.html</span></li>
                            <li id="migrations">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<i class="fab fa-html5"></i> <span id="file-name">_vscode.html</span></li>
                            <li id="migrations">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<i class="fab fa-html5"></i> <span id="file-name">base.html</span></li>
                            <li id="migrations">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<i class="fab fa-html5"></i> <span id="file-name">home.html</span></li>
                            <li id="migrations">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<i class="fab fa-python"></i> <span id="file-name">__init__.py</span></li>
                            <li id="migrations">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<i class="fab fa-python"></i> <span id="file-name">admin.py</span></li>
                            <li id="migrations">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<i class="fab fa-python"></i> <span id="file-name">apps.py</span></li>
                            <li id="migrations">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<i class="fab fa-python"></i> <span id="file-name">models.py</span></li>
                            <li id="migrations">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<i class="fab fa-python"></i> <span id="file-name">tests.py</span></li>
                            <li id="migrations">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<i class="fab fa-python"></i> <span id="file-name">views.py</span></li>
                            <li id="migrations"><i class="fa fa-chevron-down"></i><i class="fas fa-folder-open"></i> <span id="file-name">otherworks</span></li>
                            <li id="migrations">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<i class="fab fa-python"></i> <span id="file-name">__init__.py</span></li>
                            <li id="migrations">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<i class="fab fa-python"></i> <span id="file-name">asgi.py</span></li>
                            <li id="migrations">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<i class="fab fa-python"></i> <span id="file-name">apps.py</span></li>
                            <li id="migrations">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<i class="fab fa-python"></i> <span id="file-name">settings.py</span></li>
                            <li id="migrations">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<i class="fab fa-python"></i> <span id="file-name">urls.py</span></li>
                            <li id="migrations">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<i class="fab fa-python"></i> <span id="file-name">wsgi.py</span></li>
                            <li id="migrations">&nbsp;&nbsp;&nbsp;&nbsp;<i class="fas fa-file"></i> <span id="file-name">db.sqlite3</span></li>
                            <li id="migrations">&nbsp;&nbsp;&nbsp;&nbsp;<i class="fab fa-python"></i> <span id="file-name">manage.py</span></li>
                        </ul>
                </div>
            </div>
        </div>
        </div>
        
        <!--TEXTAREA!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!-->
        <!-- <div class="textarea">
            
        </div> -->
       
    <script>
        const textarea = document.querySelector('.textarea') 
        const upper_file = document.querySelector('#file-name1') 
        const log = document.querySelector(".upper-file-log")
        const upper_file_bg = document.querySelector('#upper-file1')
        const vs_nov_title = document.getElementById('vs-nov-title')
        const vs_nov_content = document.getElementById('vs-nov-content')
        const showContent = (num) => {
            content = document.getElementById('vs-nov-content'+num).innerText;
            title = document.getElementById('title'+num).innerText;
            textarea.innerText = content;
            upper_file.innerText = title;
            upper_file_bg.classList.add('hohover')
        }


    </script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/SyntaxHighlighter/3.0.83/scripts/shCore.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/SyntaxHighlighter/3.0.83/scripts/shBrushAS3.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/SyntaxHighlighter/3.0.83/scripts/shBrushAppleScript.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/SyntaxHighlighter/3.0.83/scripts/shBrushBash.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/SyntaxHighlighter/3.0.83/scripts/shBrushCSharp.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/SyntaxHighlighter/3.0.83/scripts/shBrushColdFusion.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/SyntaxHighlighter/3.0.83/scripts/shBrushCpp.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/SyntaxHighlighter/3.0.83/scripts/shBrushCss.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/SyntaxHighlighter/3.0.83/scripts/shBrushDelphi.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/SyntaxHighlighter/3.0.83/scripts/shBrushDiff.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/SyntaxHighlighter/3.0.83/scripts/shBrushErlang.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/SyntaxHighlighter/3.0.83/scripts/shBrushGroovy.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/SyntaxHighlighter/3.0.83/scripts/shBrushJScript.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/SyntaxHighlighter/3.0.83/scripts/shBrushJava.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/SyntaxHighlighter/3.0.83/scripts/shBrushJavaFX.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/SyntaxHighlighter/3.0.83/scripts/shBrushPhp.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/SyntaxHighlighter/3.0.83/scripts/shBrushPlain.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/SyntaxHighlighter/3.0.83/scripts/shBrushPowerShell.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/SyntaxHighlighter/3.0.83/scripts/shBrushPython.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/SyntaxHighlighter/3.0.83/scripts/shBrushRuby.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/SyntaxHighlighter/3.0.83/scripts/shBrushSass.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/SyntaxHighlighter/3.0.83/scripts/shBrushScala.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/SyntaxHighlighter/3.0.83/scripts/shBrushSql.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/SyntaxHighlighter/3.0.83/scripts/shBrushVb.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/SyntaxHighlighter/3.0.83/scripts/shBrushXml.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/SyntaxHighlighter/3.0.83/scripts/shAutoloader.min.js"></script>
<script type="text/javascript">SyntaxHighlighter.all();</script>

{% endblock %}