{% extends 'base.html' %}
{% block css %}
{% load static %}
<link rel="stylesheet" href="{% static 'about.css' %}" type='text/css'>
<link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
{% endblock %}
{% block container %}
<br><br><br><br><br><br><br><br>
<br><br><br><br><br><br><br><br>


    <br><br><br><br><br><br><br><br>
    <br><br><br><br><br><br><br><br>
    <br><br><br><br><br><br><br><br>
    <div class="largest" data-aos="fade-down">HOLD ON.</div>
    <br><br><br><br><br><br><br><br>
<br><br><br><br><br><br><br><br>


    <br><br><br><br><br><br><br><br>
    <br><br><br><br><br><br><br><br>
    <br><br><br><br><br><br><br><br>
    <div class="medium" data-aos="fade-down">I've got </div>
    <br><br><br><br><br>
    <div class="l-m" data-aos="fade-down">'otherworks'</div>
    <br><br><br><br><br>
    <div class="medium" data-aos="fade-up">to do. </div>
    <br><br><br><br><br><br><br><br>
    <br><br><br><br><br><br><br><br>
    <br><br><br><br><br><br><br><br>
    <img data-aos="fade-up" id="vs-logo" src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/9a/Visual_Studio_Code_1.35_icon.svg/512px-Visual_Studio_Code_1.35_icon.svg.png">
    <div class="medium" data-aos="fade-up">CODE .</div>
    <br><br><br><br><br><br><br><br>
    <br><br><br><br><br><br><br><br>
    <br><br><br><br><br><br><br><br>
    <div class="medium" data-aos="fade-up">Youtube on Naver?</div>
    <br><br><br><br><br><br><br><br>
    <br><br><br><br><br><br><br><br>
    <br><br><br><br><br><br><br><br>
    <div class="medium" data-aos="fade-up"> Go ahead.</div>
    <br><br><br><br><br><br><br><br>
    <img data-aos="fade-up" id="house" src="https://user-images.githubusercontent.com/46775877/90320590-84320c80-df7d-11ea-8c75-3e96987bc1c0.png">
    <br><br><br><br><br><br><br><br>
    <br><br><br><br><br><br><br><br>
    <img data-aos="fade-up" id="house" src="https://user-images.githubusercontent.com/46775877/90320662-f276cf00-df7d-11ea-9986-61969a2aaa6f.png">
    <br><br><br><br><br><br><br><br>
    <br><br><br><br><br><br><br><br>
    <br><br><br><br><br><br><br><br>
    <div data-aos="fade-up" class="medium">.......??????????</div>
    <br><br><br><br><br><br><br><br>
    <br><br><br><br><br><br><br><br>
    <br><br><br><br><br><br><br><br>
    <div data-aos="fade-up" class="medium">Anyways....</div>
    <br><br><br><br><br><br><br><br>
    <br><br><br><br><br><br><br><br>
    <br><br><br><br><br><br><br><br>
    <img data-aos="fade-up" src="https://user-images.githubusercontent.com/46775877/90317798-cb60d300-df66-11ea-94db-31a8bb2ee450.png">
    <div class="medium" data-aos="fade-up"> READ on Excel</div>
    <br><br><br><br><br><br><br><br>
    <br><br><br><br><br><br><br><br>
    <br><br><br><br><br><br><br><br>
    <div class="medium" data-aos="fade-up"> PLAY with mole on... </div>
    <br><br><br><br><br><br><br><br>
    <br><br><br><br><br><br><br><br>
    <br><br><br><br><br><br><br><br>
    <div class="medium" data-aos="fade-up"> a Calendar... </div>
    <br><br><br><br><br><br><br><br>
    <img id="hmm" data-aos="fade-right" src="https://user-images.githubusercontent.com/46775877/90320406-23ee9b00-df7c-11ea-99d3-bc789500e073.png">
    <br><br><br><br><br><br><br><br>
    <br><br><br><br><br><br><br><br>
    <br><br><br><br><br><br><br><br>
    <img data-aos="fade-down" src="https://user-images.githubusercontent.com/46775877/90317692-1f1eec80-df66-11ea-9ef8-5e08a6d2428a.png">
    <div class="medium" data-aos="fade-down"> ANYTHING can happen. </div>
    <br><br><br><br><br><br><br><br>
    <br><br><br><br><br><br><br><br>
    <br><br><br><br><br><br><br><br>
    <div class="medium" data-aos="fade-down"> Make yourself at home, </div>
    <br><br><br><br><br><br><br><br>
    <br><br><br><br><br><br><br><br>
    <br><br><br><br><br><br><br><br>
    <div class="medium" data-aos="fade-down"> and DON'T get caught. </div>
    
    <br><br><br><br><br><br><br><br>
    <br><br><br><br><br><br><br><br>
    <br><br><br><br><br><br><br><br>
    <a href="{% url 'works' %}"><div style="font-size: 100px">onclick={init();}</div></a>
    

<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
<script>
    AOS.init();
</script>
{% endblock %}