{% extends 'base.html' %}
{% block css %}
{% load static %}
<link rel="stylesheet" href="{% static 'buyPremium.css' %}" type='text/css'>
{% endblock %}
{% block container %}

<div class="ct" id="t1">
    <div class="page" id="p1">
        <section class="icon fa fa-star" >
            <span class="title" >프리미엄 기능을 사용해보세요!!! 들켜도 난 몰라~</span>
            <span class="hint" >$ 9.9 / 월
            <br>서비스 이용약관</span>
            <span class="small-title">무료 시험사용 시작</span>
        </section> 
    </div>
    <div class="page" id="p2">
        <section class="icon fa fa-camera">
            <span class="title">웹캡으로<br>움직이는 사람을<br>인식해보세요</span>
            <span class="hint"><br>사람을 인식하면 자동으로<br>안전한 화면으로 전환합니다!</span>
        </section>
    </div>  
    <div class="page" id="p3">
        <section class="icon fa fa-palette">
            <span class="title">다양한<br>디자인<br>사용 가능!</span>
            <span class="hint">원하는 디자인이 없다면<br>제작 문의 가능<br><br>건당 $19.99</span>
        </section>
    </div>
    <div class="page" id="p4">
        <section class="icon fa fa-tachometer-alt">
            <span class="title">속도 향상</span>
            <span class="hint">눈치채셨나요?<br>무료 버전은 속도 제한이 걸려있답니다.<br>프리미엄 버전으로 제한없는<br>속도를 경험해보세요!</span>
        </section></a>
    </div>      
</div>


{% endblock %}