html,
body {
  position: relative;
  height: 100%;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width:100%;
    background: #eee;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 14px;
    color: #000;
    margin: 0;
    padding: 0;
}

div .cardcontainer {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.btn {
    width: 90%;
}

.card-body {
    flex: none;
    /* width: 18rem;
    height: 19.3rem;
    padding-bottom: 1.8rem; */
}

.card-footer {
    text-align: center;
    background: none;
    border: none;
}

.card {
    width: 18rem;
    display: flex;
    justify-content: center;
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

#title {
    margin: 0 auto;
    width: 100%;
}

h1 {
    text-align: center;
}

a#Back {
    display: flex;
    width: 100px;
    
}

span#btn-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

div.modal-body {
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-container {
    width: 100%;
    height: 60%;
}

.swiper-slide {
    height: 19rem;
    text-align: center;
    font-size: 18px;
    background: #fff;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}